#FOLDERS
archives/
releases/
icons/

#FILES
*.exe
*.config
*.log
*.tmp
*.txt
*.ini
*.conf
*.dat

#JSON
last_scan.json
settings.json

#PYTHON
__pycache__/
*.pyc   
*.pyo
*.pyd
env/
venv/
ENV/
VENV/
.Python-version
pip-selfcheck.json
.ipynb_checkpoints/







